body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

/* List container */

.list-container h1 {
    font-family: 'robotobold'; 
    text-align: center;
    margin: 16px auto;
    background-color: rgb(20, 92, 247);
    color: white;
    width: 150px;
    padding: 8px;
    border-radius: 0px 25px 25px 25px;
}

/* List nav */

.list-nav {
    display: flex;
    flex-direction: column;
}

.list-button {
    text-align: left;
    border: none;
    background-color: white;
    margin: 0 12px;
    color: rgb(20, 92, 247);
    border-radius: 8px;
    padding-left: 8px;
    transition: background-color 0.25s ease;
}

.new-list-button.special {
    font-family: 'robotobold'; 
    color: rgb(20, 92, 247);
}

.list-button.special {
    color: rgb(60, 119, 246);
}

.list-button:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.list-button:focus {
    outline: none;
}

.selected {
    background-color: rgb(241, 241, 241);
}

/* Task container */

.task-container {
    padding: 16px;
}

.new-task-button {
    background-color: rgb(20, 92, 247);
    color: white;
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: 0;
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.new-task-button:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.new-task-button:active {
    cursor: pointer;
    transform: scale(0.96);
    background-color: rgb(36, 86, 195);
}

/* List div */

.list-div {
    padding-top: 16px;
    display: grid;
}

.task-element {
    height: 64px;
    display: grid;
    grid-template-columns: 8px 48px 1fr 148px;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.25s ease;
}

.task-element:hover {
    background-color: rgb(241, 241, 241);
}

.buffer-element {
    padding: 16px;
    border-top: solid rgb(228, 228, 228) 1px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.task-element>p {
    align-self: center;
    justify-self: center;
}

.text-div {
    align-self: center;
}

.priority-1 {
    background-color: red;
}

.priority-2 {
    background-color: rgb(255, 245, 47);
}

.priority-3 {
    background-color: rgb(46, 223, 140);
}

/* Dialog boxes */
  
dialog {
    margin: auto;
    border: 0;
    border-radius: 24px;
    padding: 32px 64px;
    box-shadow: 0px 0px 10px 2px rgb(175, 175, 175);
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

legend {
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-family: 'robotobold';
}

label {
    display: block;
    text-align: center;
    font-family: 'robotobold';
}

.btn-div {
    margin-top: 12px;
}

.btn-div button {
    background-color: rgb(20, 92, 247);
    color: white;
    width: 72px;
    height: 38px;
    border: 0;
    border-radius: 25px;
    margin: auto 8px;
    transition: background-color 0.3s ease;
}

.btn-div button:hover {
    cursor: pointer;
    background-color: rgb(45, 105, 235);
}

.btn-div button:active {
    cursor: pointer;
    background-color: rgb(36, 86, 195);
    scale: 98%;
}

form input,
form textarea,
form select {
    border: 0;
    background-color: whitesmoke;
    padding: 4px 16px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

form textarea {
    padding: 8px 16px;
    resize: none;
}

form input:hover,
form textarea:hover,
form select:hover {
    background-color: rgb(222, 220, 220);
}

form input:focus,
form textarea:focus,
form select:focus {
    background-color: rgb(222, 220, 220);
    outline: 0px;
}